h1 {
    color: #3BA94C;
}

@font-face {
    font-family: DIN;
    src: url(fonts/D-DIN.otf);
}


body {
    font-family: DIN;
}

.login-screen {
    background: #E9ECEF;
    height: 100vh;
}

.login-header {
    padding-top: 135px;
}

.login-element {
    margin: auto;
    width: 312px;
}

.login-text {
    margin: auto;
    display: block;
    width: 312px;
    align-content: left;
}

.login-button-1 {
    color: #3BA94C;
}

.login-button-2 {
    background: #3BA94C;
    border: #3BA94C;
}

.home-header {
    padding-top: 25px;
    display: inline-block;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}

.questionairre-button {
    background: #3BA94C;
    border: #3BA94C;
    float: right;
    margin-top: 30px;
}