<div class="main-header-container">
    <h1 class="text-center main-header">UltiGreen</h1>
</div>

<h1 class="home-header">Transportation Options</h1>
<div>&nbsp;</div>
<div>
    <p>
        A typical passenger vehicle, with a fuel economy of 22.0 miles per gallon and driving around 11,500 miles per year,
        emits an average of 4.6 metric tons of carbon dioxide each year.
        <br><br>
        Based on your questionairre inputs, your vehicle's carbon dioxide output from your work commute is: {{transportationFootprint}} metric tons per year.
        <br><br>
        These vehicles also produce methane and nitrous oxide, which although are emitted in smaller amounts have a higher global warming potential than CO2.
    </p>
    <h2>Reducing your Transportation Carbon Footprint</h2>
    <p>
        There are a multitude of ways to decrease your transportation carbon footprint! These include:
    </p>
    <ul class="list-group">
        <li class="list-group-item">
            <h4>Carpool with coworkers</h4>
            In addition to reducing transportation emissions of you and a few coworkers by up to 75%, being the driver of a carpool entitles you to one free tank of gas per month.
            If you're interested in being in a carpool with coworkers, you can fill out and submit this form:<br>
            <a href="https://my.ultimatesoftware.com/pages/utility/ViewFileContent.aspx?USPARAMS=cbid=3!cid=29" target="_blank">Download Carpool Registration Form</a>
        
        </li>
        <li class="list-group-item">
            <h4>Bike to work if within a reasonable radius</h4>
              Biking to work not only has zero emissions, but it is great exercise that can help jumpstart your day!
        </li>
        <li class="list-group-item">
            <h4>Take public transportation</h4>
              Traveling by bus uses only 2/3 of the emissions of cars, and traveling by train has just 
              between 1/5 and 1/3 of the emissions. These statistics assume that only 1/4 of bus seats are 
              filled, so the potential for reducing emissions is much higher with increased public transportation use.
        </li>
    </ul>
</div>
<br><br>