<div class="main-header-container">
    <h1 class="text-center main-header">UltiGreen</h1>
</div>

<h1 class="home-header">Transportation Options</h1>
<div>&nbsp;</div>
<div>
    <p>
        A typical passenger vehicle, with a fuel economy of 22.0 miles per gallon and driving around 11,500 miles per year,
        emits an average of 4.6 metric tons of carbon dioxide each year.
        <br><br>
        Based on your questionairre inputs, your vehicle's carbon dioxide output from your work commute is: {{transportationFootprint}} metric tons per year.
        <br><br>
        
    </p>
</div>
<div>&nbsp;</div>
<div>
    <a href="https://my.ultimatesoftware.com/pages/utility/ViewFileContent.aspx?USPARAMS=cbid=3!cid=29" target="_blank">Download Carpool Registration Form</a>
</div>