<!-- header -->
<div class="text-center">
  <h1>UltiGreen</h1>
</div>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://ultihome.ultimatesoftware.com/Spaces/771/article/3cf2981c-0f41-4417-ba56-2cd243ddfa9b/59191" target="_top">Ultigreen Team Page</a>
    </p>
    <p>
        <a href="http://www.ultimatesoftware.com" target="_top">Ultimate Software Home</a>
    </p>
</div>