/* QuestionnaireResult's private CSS styles */
.page {
  margin: 0 0 2em 0;
  padding: 5%;
}

h2 {
  font-size: 4em;
}

button {
  background-color: #3BA94C;
  color: #FFFFFF;
  width: 6em;
}

.navBtnsDiv {
  width: auto;
}
#btnPrev {
  float: left;
}

#btnNext{
  float: right;
}

#resultsTable {
  margin: 5%;
}

.btn {
  float: right;
  width: 15em;
}

.flex-row {
  display: flex;
  margin-top: 5%;
}

.col {
  flex: 1;
}

.number {
  text-align: right;
}

.total {
  font-size: 4em;
}

#totalUnits {
  font-size: 0.5em;
}
