<div class="main-header-container">
    <h1 class="text-center main-header">UltiGreen</h1>
</div>


<h1 class="home-header">Green Dining Options at Ultimate Software</h1>
<div>
  <div>
    <h2>Ways to Reduce Your Carbon Footprint</h2>
    <div class="container">
      <p>There are a lot of very surprising ways that you can easily cut down the carbon footprint you produce with dining decisions (or packed food). Here are just a few:  </p>
      <ul class="list-group">
        <li class="list-group-item">
          <h4>Eat Vegan / Vegetarian</h4>
          The carbon footprint created by eating meat is significantly greater than eating a healthy,
          protein-packed Vegan meal. Additionally, the water required to sustain a vegetarian diet is half
          that of a meat-based diet. That way you can conserve water without actively taking shorter showers!
        </li>
        <li class="list-group-item">
          <h4>Eat Organic Food</h4>
          Organic farming methods for both crops and animals have a much lower impact on the environment
          than conventional methods simply because of the use of natural pesticides, removal of growth of
          growth hormones, and natural soil fertilization methods.
        </li>
        <li class="list-group-item">
          <h4>Shop Locally</h4>
          A large portion of the carbon footprint created by food is in the packaging and shipment
          of the food to your grocery store. Imagine all CO2 you can reduce by buying
          fruits and veggies grown in your backyard.
        </li>
        <li class="list-group-item">
          <h4>Eat at the Cafeteria</h4>
          Not only will you be cutting down on the CO2 you create by driving to get food,
          you will also have the option to utilize the healthy meals that are both good
          for you, the environment, and your wallet.
        </li>
      </ul>
    </div>
  </div>
  <br/>
  <br/>
</div>