<div class="main-header-container">
  <h1 class="text-center main-header">UltiGreen</h1>
</div>
​
<h1 class="home-header">Opting for Reusability at Ultimate Software</h1>
<div>
  <div>
    <h2>Exploring options to Reduce Your Carbon Footprint</h2>
    <div class="container">
      <p>By choosing resuables over single use items, you can help to reduce your environmental impact!</p>
      <ul class="list-group">
        <li class="list-group-item">
          <h4>Bring Your Own Cup</h4>
          Instead of using a disposable cup everytime you drink your coffee or tea, bring a mug from home. A ceramic mug is sixty times as sustainable as a single use paper cup. For water, metal bottles are a great alternative to plastic ones and even keep your drink colder for longer.
        </li>
        <li class="list-group-item">
          <h4>When Bringing Lunch to Work</h4>
          Bring your food in a lunch box or a reusable bag. Think about the container you pack your lunch in versus eating on a styrofoam or paper plate. Also, try to bring utensils from home instead of using plastic ones that get thrown away after one meal. Being mindful and making these small changes can have a significant impact on the environment considering all the waste produced during lunch at the office.
        </li>
        <li class="list-group-item">
          <h4>Eliminate Plastic Bags</h4>
          A greener alternative to plastic bags are ones made from cloth or canvas. Plastic bags often end up in landfills or the ocean and pose a serious threat to wildlife, in addition to only lasting a couple uses before tearing. Cloth and canvas bags are more durable and an environmentally friendly way to bring your lunch or anything else to work.
        </li>
        <li class="list-group-item">
          <h4>Whenever Possible</h4>
          If you do have a plastic water bottle, try to reuse it as many times as you can, and make an effort to recyle it when you are done. This concept can really apply to anything - reusing and repurposing inspires some creativity as well as reducing your carbon footprint.
        </li>
      </ul>
    </div>
  </div>
</div>
